*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    color-scheme: light dark;
}
body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    place-content: center;
    height: 100vh;
    padding: 36px 36px 100px 36px;
    grid-template-rows: 1fr;
}


#chat {
    border: 1px solid #cccc;
    border-radius: 4px;
    overflow: hidden;
    width: 350px;
    height: 100%;
    position: relative;
}

#notification {
    display: none;
    font-size: 24px;
    color: red;
    position: absolute;
    top: 10px;
    right: 10px;
}

#form {
    bottom: 0;
    display: flex;
    height: 48px;
    left: 0;
    padding: 4px;
    position: absolute;
    right: 0;
}

#input {
    border-radius: 9999px;
    border: 1px solid #cccc;
    flex: 1;
    margin: 4px;
    padding: 0 8px;
}
#input:focus {
    outline: 0;
}
#form > button {
    background-color: #0070f3;
    border: 0;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin: 4px;
}
#form > button:hover {
    background-color: #85b9f5;
}
